
.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    margin-left: 1rem;
  }
  
  .register-card {
    width: 100%;
    max-width: 420px;
    margin: auto;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
  
  .register-title {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    position: relative;
    width: 100%;
  }
  
  .form-group nb-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .form-group input,
  .form-group nb-select {
    width: 100%;
    padding-left: 2.5rem !important;
    box-sizing: border-box;
  }
  
  .register-button {
    margin-top: 0.5rem;
    background-color: #4BCCA6;
    border-color: #4BCCA6;
    color: white;
  }
  
  .back-login {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-hint-color);
    text-decoration: none;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.2rem;
  }
  
  .logo-img {
    max-width: 100%;
    height: auto;
    width: clamp(120px, 25vw, 300px);
    transition: transform 0.3s ease;
  }
  
  .logo-img:hover {
    transform: scale(1.05);
  }
  .error {
    color: #e53935;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: block;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.25rem; // dá espaço entre os campos
  }
  
  .form-group nb-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .form-group input,
  .form-group nb-select {
    padding-left: 2.5rem !important;
  }
  
  .signup-link {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .create-account-link {
    color: var(--text-primary-color, #4BCCA6); /* cor personalizada ou fallback */
    text-decoration: none;
    margin-left: 0.25rem;
    font-weight: 500;
  }
  
  .create-account-link:hover {
    text-decoration: underline;
  }
  

  button[nbbutton]:disabled {
    background-color: #ccc !important; // cinza claro
    border-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    opacity: 0.8;
  }