<div class="section" style="padding:0px;">
  <div class="container is-fluid">
    <!-- Cabeçalho e ações -->
    <div class="columns is-vcentered is-mobile is-multiline mb-4" style="padding-top: 1.7rem;">
      <div class="column is-12-mobile is-10-tablet" style="padding-bottom: 0px;;">
        <h2 class="title is-4" style="margin-bottom: 0px;;">Gerenciador de Usuários</h2>
      </div>
      <div class="column is-7-mobile is-2-tablet has-text-right">
        <button nbButton style="background-color: #4BCCA6; border-color: #4BCCA6; color: white" class="full-width-button" size="small" (click)="redirectToAddPage()">
          <nb-icon icon="person-add-outline" pack="eva"></nb-icon>
          Adicionar
        </button>
      </div>
    </div>

    <!-- Filtro único -->
    <div class="box mb-5">
      <form [formGroup]="filterForm">
        <div class="columns is-multiline">
          <div class="column is-12-mobile is-11-tablet">
            <input nbInput fullWidth placeholder="Buscar por nome ou e-mail..." formControlName="query">
          </div>
          <div class="column is-12-mobile is-1-tablet has-text-right">
            <button nbButton style="background-color: #4BCCA6; border-color: #4BCCA6; color: white" class="full-width-button" (click)="applyFilters()">
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Lista de usuários responsiva -->
    <div class="box user-list">
      <div *ngFor="let user of users" class="box user-card">
        <div class="columns is-vcentered multiline-only-mobile">
          <div class="column is-12-mobile is-flex user-info-wrapper">
            <div class="avatar-container column is-1-desktop">
              <nb-icon icon="person-outline" pack="eva" class="user-avatar"></nb-icon>
            </div>
          
            <div class="info-container">
              <p class="is-size-6 has-text-weight-bold mb-1">{{ user.name }}</p>
              <p class="is-size-7 has-text-grey mb-1">{{ user.email }}</p>
              <p class="is-size-7 has-text-info"><strong>{{ user?.role?.description }}</strong></p>
            </div>
          </div>
          

          <div class="column is-3 has-text-right is-hidden-mobile">
            <button nbButton size="small" class="action-button edit" style="border-style: groove;border-radius: 3px;" (click)="editUser(user)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
            <button nbButton size="small" status="danger" style="border-style: groove;border-radius: 3px;margin-bottom:5px;" class="action-button" (click)="deleteUser(user)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>            
          </div>

          <div class="column is-12 is-hidden-desktop is-hidden-tablet">
            <button nbButton size="small" class="action-button full-width-button" style="border-style: groove;border-radius: 3px;" (click)="editUser(user)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </div>

          <div class="column is-12 is-hidden-desktop is-hidden-tablet" style="padding-top: 0px;">
            <button nbButton size="small" status="danger" style="border-style: groove;border-radius: 3px;margin-bottom:5px;" class="action-button full-width-button" (click)="deleteUser(user)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>          
          </div>
        </div>
      </div>

      <div *ngIf="users.length === 0" class="has-text-centered has-text-grey-light">
        Nenhum usuário encontrado.
      </div>
    </div>

    <nav class="pagination-wrapper" aria-label="Paginação de usuários">
      <div class="pagination-controls">
        <a 
          class="pagination-button" 
          (click)="previousPage()" 
          [class.is-disabled]="currentPage === 1"
          style="text-decoration: none;" >
          <nb-icon icon="arrow-back-outline"></nb-icon>
          <span>Anterior</span>
        </a>

        <span class="pagination-current">Página {{ currentPage }}</span>

        <a 
          class="pagination-button" 
          (click)="nextPage()" 
          [class.is-disabled]="!hasMore"
          style="text-decoration: none;">
          <span>Próximo</span>
          <nb-icon icon="arrow-forward-outline"></nb-icon>
        </a>
      </div>
    </nav>
  </div>
</div>
